* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-weight: 400;
}
body {
  margin: 0;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
} 
li {
  list-style-type: none;
}
._title {
  margin-bottom: 20px;
  font-family: 'Montserrat';
  font-weight: 700;
}
.wrapper {
  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "footer";
}
.header {
  grid-area: header;
  background-color: #FCF8F3;
 // border: 1px solid red;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
		&__name {
      font-size: 20px;
      font-weight: bold;
		}
}
.main {
  grid-area: main;
 // border: 1px solid green;
  display: grid;
  grid-template-columns: minmax(29.297vw, 300px) 1fr;
  grid-template-rows: 1fr 2fr;
}
.sidebar {
  //border: 1px solid black;
  grid-row-start: 1;
  grid-row-end: 3;
	
		&__menu {
      padding: 20px;
		}

		&__list {
      display: flex;
      flex-direction: column;
		}

		&__item {
      &:not(:last-child) {
        margin: 0px 0px 15px 0px;
      }
      
		}

		&__link {
      color: black;
      font-size: 20px;
      &:hover {
        text-decoration: underline;
        color: #ffa07a;
      }
      
		}
}
.special-product {
  padding: 20px;
  //border: 1px solid grey;

		&__item {
      //border: 1px solid yellow;
      height: 200px;
      position: relative;
		}

		&__image {
      max-height: 200px;
      height: 100%;
        img {
          width: 100%;
          height: 100%;
          max-width: 100%;
          display: block;
          object-fit: cover;
        }
		}

		&__button {
      position: absolute;
      top: 50%;
      left: 32px;
      display: block;
      min-width: 150px;
      transform: translateY(-50%); 
      cursor: pointer;
      border: none;
      background-color: #ffff;
      font-size: 18px;
      font-weight: bold;
      padding: 15px 10px;
      border-radius: 10px;
      &:hover {
        background-color: #f1e3d1;
      }
		}
}

.products {
  //border: 1px solid orange;
  padding: 20px;

  &__items {
    display: grid;
    grid-gap: 50px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 220px);
  }
}

.product {

  &__item {
    //border: 1px solid blue;
    background-color: #f1e3d1;
    cursor: pointer;
    &:hover {
      background-color: #ffa07a;
      
    }
  }

  &__image {
    max-height: 150px;
    height: 100%;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 100%;
      max-width: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__name {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &__price {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
  }
}


.subscribe {
  //border: 1px solid orangered;
  padding: 30px 20px;
  grid-column-start: 1;
  grid-column-end: 3;

		&__text {
      font-size: 20px;
      margin-bottom: 20px;
		}

		&__input {
      padding: 15px 15px;
      background-color: transparent;
      border: 2px solid red;
      border-radius: 10px;
      min-width: 300px;
      
      margin-right: 20px;
      &::placeholder {
        font-weight: 400;
        font-size: 14px;
        color: red;
      }
		}

		&__button {
      cursor: pointer;
      border-radius: 10px;
      color: #ffff;
      background-color: red;
      border: 2px solid red;
      padding: 15px 15px;
      width: 150px;
      &:hover {
        border: 2px solid red;
        background-color: #ffff;
        color: red
      }
		}
}

.footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: 4fr 1fr 1fr;
  //border: 1px solid red;
  background-color: #53350f;
  color:#ffff;
  padding: 20px;
  font-size: 18px;

  &__item {
    &:not(:last-child) {
      margin: 0px 0px 15px 0px;
    }
  }

  &__link {
    color: #ffff;
    &:hover {
      text-decoration: underline;
    }
  }

  &__copyright {
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    margin-top: 20px;
  }
}

.contacts {

  &__title {
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 10px;
  }
}
.social {

  &__title {
    font-family: 'Montserrat';
    font-weight: 600;
    margin-bottom: 10px;
  }
  &__image {
    width: 40px;
    
  }
}

@media(max-width: 1024px) {
  .wrapper {
    margin: 0;
  }
  .main {
    grid-template-rows: 1fr 4fr;
  }
  .sidebar {
    grid-row-start: unset;
    grid-row-end: unset;
    grid-column-start: 1;
    grid-column-end: 3;
    &__list {
      flex-direction: row;
      justify-content: space-between;
		}
    
  }
  .special-product {
    grid-column-start: 1;
    grid-column-end: 3;
    &__button {
      left: 50%;
      top: 65%;
      transform: translateX(-50%);
		}
  }
  .subscribe {
    grid-column-start: 1;
    grid-column-end: 3;
   
  }
  .products {
    grid-column-start: 1;
    grid-column-end: 3;
    &__items {
      display: grid;
      grid-gap: 30px;
      grid-template-columns: repeat(3, 1fr);
      
    }
  }
  .footer {
    grid-template-columns: 1fr;

    &__navigation {
      margin-bottom: 20px;
    }
    &__item {
      text-align: center;
    }
    &__contacts {
      margin-bottom: 20px;
      text-align: center;
    }
    &__social {
      text-align: center;
    }
    &__copyright {
      text-align: center;
      grid-column-start: unset;
      grid-column-end: unset;
    }
  }
}
@media(max-width: 768px) {
  ._title {
    font-size: 20px;
  }
 
  
  .products {
    &__items {
      grid-gap: 40px;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 220px);
    }
  }
  .subscribe {
    &__container {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    &__input {
      min-width: 150px;
      width: 100%;
    }
  }
}
@media(max-width: 533px) {
  .header {
    &__logo {
     img {
       width: 35px;
     }
    }
  }

  .sidebar {
    &__link {
      font-size: 16px;
    }
  }
  .products {
    &__items {
      grid-gap: 20px;
    }
  }
  .subscribe {
    &__text {
      font-size: 16px;
    }
  }
  .footer {
    font-size: 16px;
  }
}